{% extends "base.html" %}

{% block title %}
Panel de Administrador
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Panel de Administrador</h1>
    <div class="list-group mt-4">
        <a href="{% url 'Administrador:lista_credenciales' %}" class="list-group-item list-group-item-action">
            Gestionar Credenciales
        </a>
        <a href="{% url 'Administrador:panel_administracion_reseñas' %}" class="list-group-item list-group-item-action">
            Gestionar reseñas
        </a>
        <a href="{% url 'Administrador:gestionar_publicaciones' %}" class="list-group-item list-group-item-action">
            Gestionar Publicaciones
        </a>
        <a href="{% url 'Administrador:lista_perfiles' %}" class="list-group-item list-group-item-action">
            Gestionar Perfiles de Usuarios
        </a>
        <!-- Enlace para el reporte de ventas premium -->
        <a href="{% url 'Administrador:reporte_ventas_premium' %}" class="list-group-item list-group-item-action">
            Ver Reporte de Ventas Premium
        </a>
        <a href="{% url 'Administrador:panel_administracion_reseñas' %}" class="list-group-item list-group-item-action">
            Gestionar reseñas
        </a>
    </div>
</div>
{% endblock %}
