{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<div class="container">
    <div class="row justify-content-center" style="height: 100vh;">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="dada" style="width:85%;height: auto; margin-top: 100px;background: rgba( 47, 47, 47, 0.65 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 5.5px );
-webkit-backdrop-filter: blur( 5.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );">
                <h2 class="text-center bg-purple text-white py-2 rounded">Registro de clientes</h2>
                <form method="post">  
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Registrarse</button>
                </form>
            </div>
        </div>
    </div>
</div>

   


{% endblock %}


